.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: inherit;
}

.headerElems {
    float: right;
    display: block;
    margin-top: -28px;
    position: relative;
    .btn {
        margin-left: 10px;
    }
}

